* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
 
    background-size: 1528px 738px;
    margin-left: -14px;
    margin-top: -9px;
}
.navbar{
    height:900px;
    background-image: url(./imgs/Rectangle\ \(3\).png);
    background-position: center;
    background-size: cover;    
    background-repeat: no-repeat;
}

.navcontainer {
    display: flex;
    justify-content: center;
    margin-top: -1245px;
}
.links a {
    text-decoration: none;
    color: black;
}
.links {
    gap: 35px;
    margin-left: 170px;
}
.links a:hover {
    text-decoration: underline;
}
.imgtel img {
    width: 30px;
    height: 30px;
}
.boxtel {
    margin-right: 170px;
}
.textkappado {
    font-family: Roboto;
    font-weight: 400;
    font-size: 85px;
}
.ppp{
    margin-top: 200px;
}

 
.bigheader {
    margin-top: 150px;
    display: flex;

}
.header{
    display: flex;
   background: #ED7B49; 
    margin-top: -26px;
    height: 100%;
}
.texthead{
    width: 250px;
}
.p1{
    margin-top: -50px;

}
.but1{
    width: 150px;
    height: 40px;
    border: 0;
    border-radius: 12px;
    background-color: rgb(34, 169, 32);
}
.but2{
    width: 150px;
    height: 40px;
    border: 0;
    border-radius: 12px;
    background-color: rgba(87, 22, 22, 0.34);
}
.but3{
    width: 150px;
    height: 40px;
    border: 0;
    border-radius: 12px;
    background-color: rgb(79, 133, 183);
}
.but4{
    width: 150px;
    font-size: 10px;
    border: 0;
    border-radius: 10px;
    background-color: rgb(121, 105, 105);
    color: white;
}
.box{
    margin-top: 40px;
}
.imgm2{
    margin-top: -50px;
}
.imgm1{
    margin-left: 0px;
}
.bit1{
    width: 150px;
    border: 0;
    border-radius: 15px;
    background-color: rgb(13, 14, 14);
    color: white;
    font-size: 14px;
    height: 20px;
}
.box12{
    background: #BE5A4B;
        
    width: 600px;
    height: 600px;

}
.bb{
    margin-left: 20px;

}
.lablar{
    /* background-color: rgb(221, 166, 199); */
    background: #E9A8C6;
    /* width: 1440; */
    height: 400px;
 
    

}
.bit2{
    width: 200px;
    font-size: 12px;
    border: 0;
    border-radius: 20px;
    background-color: #100c0c;
    color: wheat;
}
.img10{
    margin-left: 50px;
}
.boxing{
    background: #F5AFB9;

   width: 100%;

}
.box122{
    background: #ABAFD6;

}
.boxx{
    background-color: #a32d29;
}
.fotr{
    background-color:#873533;
}
.pppppp{
    color: #000000;
}
.a{
    list-style: none;
    text-decoration: none;
    color: #000000;
}
.aa{
    list-style: none;
    text-decoration: none;
    color: #000000;
    margin-right: 30px;
}